@media (max-width: 2560px) {
    .content{
       margin-left: 250px;
    }
}
@media (max-width: 1440px) {
    .content{
       margin-left: 250px;
    }
}
@media (max-width: 768px) {
    .content{
       margin: 0;
    }
}
@media (max-width: 425px) {
    .content{
       margin: 0;
    }
}