/* @media (max-width: 2560px) {
    .content{
       margin-left: 250px;
    }
}
@media (max-width: 1440px) {
    .content{
       margin-left: 250px;
    }
}
@media (max-width: 768px) {
    .content{
       margin: 0;
    }
}
@media (max-width: 425px) {
    .content{
       margin: 0;
    }
} */

/* Employe.css */
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .container-fluid {
      margin-left: 0 !important; /* On smaller screens, ignore sidebar width */
      width: 100% !important;
    }
  
    .navbar-brand {
      font-size: 1rem; /* Adjust navbar brand size for smaller screens */
    }
  
    .form-control-lg {
      font-size: 0.9rem; /* Adjust search bar font size for smaller screens */
    }
  }

  /* Employe.css */
@media (max-width: 768px) {
    .actions-button {
      width: 100%; /* Full width on smaller screens */
      margin-bottom: 0.5rem; /* Add spacing between stacked buttons */
    }
  }

  /* Employe.css */
.actions-button {
    min-width: 80px; /* Set a minimum width for the buttons */
    white-space: nowrap; /* Prevent text from wrapping */
    padding: 0.25rem 0.5rem; /* Adjust padding for better spacing */
  }