body {
  min-width: 320px;
}


  /* Custom cursor styles */
  .custom-cursor {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    /* mix-blend-mode: difference; */
    z-index: 9999;
    transform: translate(-50%, -50%); /* Center the cursor */
  }